
.App {
  background-color:#1f1e33;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.cal-container {
  width: 320px;
  position: relative;
  padding: 10px;
  background-color: black;
  border: solid 2px #1f1e33;
}
.formula{
  background-color: black;
  min-height: 20px;
  font-family: digital;
  font-size: 20px;
  color: orange;
  text-align: right;
  vertical-align: text-top;
  line-height: 20px;
  overflow-wrap: break-word;
  word-wrap: break-word;

}
.output{
  min-height: 20px;
  color: white;
  background-color: black;
  padding: 5px;
  text-align: right;
  font-size: 24px;
  margin-bottom: 10px;
}
button{
  position: relative;
  width: 80px;
  height: 65px;
  color: white;
  font-size: 20px;
  outline: 1px solid #070707;
  border: none;
  cursor: pointer;
  background-color: #232223;
}
#zero{
  width: 160px;
}
#clear{
  width: 160px;
  color: white;
  background-color:  #ff6150;
}
#equals{
  height: 130px;
  position: absolute;
  bottom: 10px;
  color: white;
  background-color: rgb(13, 80, 111);
}
button:hover   {
  
  border: solid 3px rgb(223, 223, 223);
}
#add,#subtract,#multiply,#divide{
  background-color: #6b696b;
  color:white
}